@import "./choose-one/choose-one.scss";
@import "./discover/discover.scss";

.game {
    text-align: center;

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }

    .side {
        height: 35%;
        display: block;
        transform-style: preserve-3d;

        .hero-area {
        	height: 40%;
            transform: translateZ(0px);
        }

        .hand-area {
        	height: 60%;
            box-sizing: border-box;
            padding: 1%;
            transform: translateZ(1px);
        }
    }

    .battlefield {
        &.targeting {
            border: 1px solid red;
        }

        .side {
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;

            .position {
                background-color: red;
                height: 100%;
                width: 20px;
                margin: 0px 10px 0px 10px;

                &.marked {
        			background-color: green;
        		}
        	}
        }
    }

    .buttons-container {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        padding-right: 5%;

        .button {
            font-size: 20px;
            pointer-events: auto;
            display: block;
        }
    }
}
