@font-face {
    font-family: belwe;
    src: url("../asset/font/belwe-bd-bt-bold.ttf");
}

@font-face {
    font-family: franklinGothic;
    src: url("../asset/font/ITC-Franklin-Gothic-LT-Medium-Condensed.ttf");
}

body {
    margin: 0;

    ul {
        margin: 0;
        padding: 0;
    }
}

.container {
    width: 100%;
}

.test {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.game {
    height: 100%;
    position: relative;
    text-align: center;

    .gameplay-area {
        height: 100%;
    }

    & > .side {
        width: 100%;
        height: 35%;
        text-align: center;

        .hero-container {
            height: 40%;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;


            .left-container, .right-container, {
                display: inline-block;
                width: 100px;
            }

            .left-container {
                text-align: right;

                .mana canvas {
                    height: 60%;
                }
            }

            .face canvas {
                height: 100%;
            }
        }

        .hand {
            height: 60%;
            margin-left: auto;
            margin-right: auto;

            .card {
                img, canvas {
                    height: 100%;
                }

                &.playable {
                    border: 2px solid green;
                }

                &.focused {
                    background-color: rgba(0, 255, 0, 0.3);
                }
            }
        }
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }

    & .battlefield {
        .side {
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;

            .position {
                background-color: red;
                height: 100%;
                width: 20px;
                margin: 0px 10px 0px 10px;

                &.marked {
        			background-color: green;
        		}
        	}

            .minion {
                position: relative;
                height: 100%;

                img, canvas {
                    height: 100%;
                }

                &.can-attack {
                    border: 2px solid green;
                }
                &.valid-target {
                	border: 1px solid red;
				}
                &.focused {
                    background-color: rgba(0, 255, 0, 0.3);
                }

                // .attack, .health {
                //     display: inline;
                //     font-family: belwe;
                //     position: absolute;
                //     font-size: 32px;
                //     bottom: 29px;
                //     color: white;
                //     font-weight: bold;
                //     text-shadow:
                //     -1px -1px 0 #000,
                //      1px -1px 0 #000,
                //     -1px 1px 0 #000,
                //      1px 1px 0 #000;
                // }

                // .attack {
                //     left: 47px;
                // }

                // .health {
                //     right: 45px;
                // }
            }
        }
    }

    .end-turn-container {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        .end-turn {
            font-size: 20px;
            margin-right: 100px;
            pointer-events: auto;
        }
    }
}

#offscreenCanvas {
    display: none;
}
