// General styling

body {
  margin: 0;
  padding: 0;
  background-color: #faf7ed;
}

#game-container {
  float: left;
}

.canvas-container {
  position: relative;
  display: inline-block;
}

.canvas-container canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.right-column {
  float: left;
  margin-left: 10px;
}

.fps-container h4 {
  margin-top: 0px;
}

.color-picker {
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
}

.color-picker-selected {
  width: 20px;
  height: 20px;
}

.color-picker-list {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 20px;
  width: 300px; //TODO: Not nice fix.
}
