@import "../glow.scss";

@mixin face-glow-shape() {
    width: 88%;
    height: 87%;
    left: 6%;
    top: 9%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

.hero-face {
	&.can-attack {
		&::before {
			@include green-glow-subtle();
			@include face-glow-shape();
            transform: translateZ(-1px);
		}

		&.focused::before {
			@include green-glow-intense();
			@include face-glow-shape();
            transform: translateZ(-1px);
		}
	}

	&.non-valid-target {
		filter: grayscale(100%);
	}
}

.hero-face {
	position: relative;
	height: 100%;
    transform-style: preserve-3d;

	&__frame {
		height: 100%;
	}

	&__portrait {
		position: absolute;
		height: 82%;
	    top: 9%;
	    left: 3%;
		clip-path: polygon(0% 100%, 0 40%, 20% 10%, 30% 3%, 50% 0%, 70% 3%, 80% 10%, 100% 40%, 100% 100%);
        transform: translateZ(-1px);
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;

		&__secret {
			> img {
				position: absolute;
				height: 120%;
			    left: -16%;
			    top: -5%;
			}

			> svg {
				@include stat-overlay-item();
				width: 40%;
			    left: 30%;
			    top: -2%;
			}
		}

		&__frozen {
			position: absolute;
			height: 100%;
			left: -7px;
		}

		&__armor {
			& > img {
				position: absolute;
				height: 30%;
				right: -5.5%;
				bottom: 26%;
			}

			& > svg {
				@include stat-overlay-item();
				width: 35%;
				bottom: 20%;
				right: -9%;
			}
		}

		&__health {
			& > img {
				position: absolute;
				height: 30%;
				right: -4%;
				bottom: -4%;
			}

			& > svg {
				@include stat-overlay-item();
				width: 35%;
				bottom: -12%;
			    right: -9%;
			}
		}
	}
}
