@import "./face.scss";
@import "./hero-power.scss";
@import "./mana.scss";
@import "./weapon.scss";
@import "../glow.scss";

@mixin hero-glow-shape() {
	width: 81%;
	height: 85%;
	left: 11%;
	top: 9%;
}

$hero-mana-height: 50%;
$hero-power-height: 65%;

.hero {
	position: relative;
	display: inline-block;
	height: 100%;

	.hero-mana {
		position: absolute;
		height: $hero-mana-height;
		left: 180%;
		top: (100% - $hero-mana-height) / 2;
	}

	.hero-face {
		display: inline-block;
		position: relative;
		height: 100%;

		&.focused::before {
			@include green-glow-intense();
			@include hero-glow-shape();
		}
	}

	.hero-power {
		position: absolute;
		height: $hero-power-height;
		left: 103%;
		top: (100% - $hero-power-height) / 2;
	}
}
