@import "./face.scss";
@import "./hero-power.scss";
@import "./mana.scss";
@import "./weapon.scss";

$hero-mana-height: 50%;
$hero-power-height: 65%;

.hero {
	position: relative;
	display: inline-block;
	height: 100%;

    .hero-weapon {
        position: absolute;
        left: -85%;
        height: 65%;
        top: 19%;
    }

	.hero-face {
		display: inline-block;
		position: relative;
		height: 100%;
	}

	.hero-power {
		position: absolute;
		height: $hero-power-height;
		left: 103%;
		top: (100% - $hero-power-height) / 2;
	}

    .hero-mana {
		position: absolute;
		height: $hero-mana-height;
		left: 180%;
		top: (100% - $hero-mana-height) / 2;
	}
}
