@mixin stat-overlay-item() {
	position: absolute;
	width: 42%;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

	& text {
		text-anchor: middle;
		font-size: 60px;
		font-family: Belwe;
	}
}

@mixin glow($color, $spread) {
	content: "";
	position: absolute;
	border-radius: 65px;
	width: 68%;
	height: 78%;
	left: 16%;
	top: 14%;
	box-shadow: 0 0 $spread 8px $color;
	background-color: $color;
	z-index: -1;
}

.hero-power {
	&.can-use {
		&::before {
			@include glow(#00aa00, 12px);
		}

		&.selected::before {
			@include glow(#00c800, 24px);
		}
	}
}


.hero-power {
	position: relative;
	height: 100%;

	&__portrait {
		position: absolute;
	    height: 56%;
	    left: 23%;
	    top: 27%;
	    clip-path: ellipse(52% 55% at 50.5% 50.5%);
	    z-index: -1; // Can this be avoided somehow?
	}

	&__frame {
		height: 100%;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@at-root svg#{& + __mana} {
			@include stat-overlay-item();
			top: 2%;
			left: 28%;
		}
	}
}
