@import "../glow.scss";

@mixin hero-power-glow-shape() {
	border-radius: 65px;
	width: 68%;
	height: 78%;
	left: 16%;
	top: 14%;
}

.hero-power {
	&.can-use {
        transform-style: preserve-3d;

		&::before {
			@include green-glow-subtle();
			@include hero-power-glow-shape();
            transform: translateZ(-1px);
		}

		&.selected::before {
			@include green-glow-intense();
			@include hero-power-glow-shape();
            transform: translateZ(-1px);
		}
	}
}

.hero-power {
	position: relative;
	height: 100%;
    transform-style: preserve-3d;

	&__portrait {
		position: absolute;
	    height: 56%;
	    left: 23%;
	    top: 27%;
	    clip-path: ellipse(52% 55% at 50.5% 50.5%);
        transform: translateZ(-1px);
	}

	&__frame {
		height: 100%;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@at-root svg#{& + __mana} {
			@include stat-overlay-item();
			top: 2%;
			left: 30%;
		}
	}
}
