@import "../glow.scss";

@mixin weapon-glow-shape() {
	border-radius: 65px;
	width: 68%;
	height: 78%;
	left: 16%;
	top: 14%;
}

.hero-weapon {
    position: relative;
    height: 100%;
	transform-style: preserve-3d;

	&__portrait {
		position: absolute;
		height: 71%;
		left: 16%;
		top: 14%;
		clip-path: ellipse(52% 55% at 50.5% 50.5%);
		transform: translateZ(-1px);
	}

	&__frame {
		height: 100%;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@at-root svg#{& + __attack} {
			@include stat-overlay-item();
			bottom: 3%;
			left: 2%;
		}

		@at-root svg#{& + __durability} {
			@include stat-overlay-item();
			bottom: 3%;
			right: 2%;
		}

	}
}
